* {
  margin: 0;
  padding: 0;
}

body {
margin: 0;
text-align: center;
font-family: "Merriweather", serif;
color: #40514e;
}

/* HEADER / NAV BAR STYLES START */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  background-color:#e8ffff;
}

header a {
text-decoration: none;

}

header nav {
display: flex;
flex-wrap: wrap;
position: relative;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  color: #66BFBF;  
}









/* hero / top container */
.hero {
  background-image: url('../images/light-blue-background-color.png');
 height: 600px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 padding-top: 8%;
}

.top-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
 
  
}



.hero-cta {
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

.hero-form .sun {
padding: 5px;
width: 80%;
margin-left: 10%;
}



.hero h2 {

font-family: 'Montserrat', sans-serif;
font-size: 1.8rem;
color: #66BFBF;
font-weight: normal;
line-height: 2;
padding: 5%;
}

/* end hero / top container */


h1{
font-size: 5.625rem;
margin: auto auto auto 200px;
color: #66BFBF;
font-family: 'Sacramento', cursive;

}

h2{

}

h3{
font-family: 'Montserrat', sans-serif;
color: #11999E;
}

p{
line-height: 2;
}



hr{
border-style: dotted none none;
border-color: #eaf6f6;
border-width: 6px;
width: 8%;
margin: 100px auto 100px auto;
}



.middle-container{
margin: 100px 0;
}

.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}

.intro{
width: 30%;
margin: auto;
}

.contact-message{
width: 40%;
margin: 40px auto 60px;
}


.emily-pozzi-pic {
  position: relative;
padding-top: 30px;
  height: 172px;
  width: 150px;
}

.dev_tools{
  width: 25%;
  float: left;
  margin-right: 20px;

}

a {
color: #11999e;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}

a:hover{
color: #eaf6f6;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 18px 25px 18px 25px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

footer {
    background-color: #65BFBF;
    height: 50px;
    width: auto;
}

.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
  }
  
  
  
  .footer-link{
    color: #11999E;
  }
