* {
  margin: 0;
  padding: 0;
}

body {
margin: 0;
text-align: center;
font-family: "Merriweather", serif;
color: #40514e;

}

/* header / nav bar */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  background-color:#e8ffff;
}

header a {
text-decoration: none;

}

header nav {
display: flex;
flex-wrap: wrap;
position: relative;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  color: #66BFBF;  
  padding: 20px 20px 0;
  margin-bottom: 20px ;
}

/* hero / top container */
.hero {
background-image: url('../images/light-blue-background-color.png');
 height: 600px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 padding-top: 8%;
}

.top-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}

.hero-cta {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 40px;
}

.hero-form .sun {
padding: 5px;
width: 80%;
margin-left: 10%;
}

.hero h2 {

  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
  padding: 5%;
  }

  h1{
    font-size: 5.625rem;
    margin: auto auto auto 200px;
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    }
  
  p{
    line-height: 2;
    }
/* end hero / top container */


h3{
font-family: 'Montserrat', sans-serif;
color: #11999E;
}

hr{
border-style: dotted none none;
border-color: #eaf6f6;
border-width: 6px;
width: 8%;
margin: 200px auto 200px auto;
}


/* about me  */
.intro{
width: 30%;
margin: auto;
}

.intro h2 {
margin: 0 0 30px 0;
letter-spacing: .2rem
;
}

.about p {
  max-width: 65ch;
  line-height: 20px;
}

.emily-pozzi-pic {
position: relative;
padding-top: 200px;
padding-bottom: 50px;
width: 200px;
}

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  }

  /* my work */
main h2 {
  padding-bottom: 50px;
}

  .work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }

  .flex-item {
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    width: 50%;
  }

  .work img {
    border-radius: 20px;
    opacity: 90%;
    width: 45%;
    min-height: 180px;
    border: 1px solid black;
  }

  .work img:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
  transform: scale(1.2);
  }

  /* contact */
.contact-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.contact-flex {
  padding: 35px 0;
}


  article h2 {
    padding-bottom: 30px;
  }

  /* footer */
  .footer-link{
    color: #11999E;
  }

  footer {
    width: 100%;
    height: 50px;
    background-color: #e8ffff;
    padding-top: 50px;
  }

.contact h2 {
  margin-bottom: 50px;
}

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
  
    .flex-item {
      background-size: cover;
      background-position: center;
      padding: 30px 0;
      width: 90%;
    }
  
    .work img {
      border-radius: 20px;
      opacity: 90%;
      width: 45%;
      min-height: 180px;
      border: 1px solid black;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
  
    .flex-item {
      background-size: cover;
      background-position: center;
      padding: 30px 0;
      width: 100%;
    }
  
    .work img {
      border-radius: 20px;
      opacity: 80%;
      min-height: 180px;
      border: 1px solid black;
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
  
    .flex-item {
      background-size: cover;
      background-position: center;
      padding: 30px 0;
      width: 90%;
    }
  
    .work img {
      border-radius: 20px;
      opacity: 90%;
      width: 45%;
      min-height: 180px;
      border: 1px solid black;
    }
}

