* {
  margin: 0;
  padding: 0;
}

body {
margin: 0;
text-align: center;
font-family: "Merriweather", serif;
color: #40514e;
}

/* HEADER / NAV BAR STYLES START */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  background-color:#e8ffff;
}

header a {
text-decoration: none;

}

header nav {
display: flex;
flex-wrap: wrap;
position: relative;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  color: #66BFBF;  
}









/* hero / top container */
.hero {
  background-image: url('../images/light-blue-background-color.png');
 height: 600px;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 padding-top: 8%;
}

.top-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
 
  
}



.hero-cta {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 40px;
}


.hero-form .sun {
padding: 5px;
width: 80%;
margin-left: 10%;
}



.hero h2 {

  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
  padding: 5%;
  }

/* end hero / top container */


h1{
font-size: 5.625rem;
margin: auto auto auto 200px;
color: #66BFBF;
font-family: 'Sacramento', cursive;

}


h3{
font-family: 'Montserrat', sans-serif;
color: #11999E;
}

p{
line-height: 2;
}



hr{
border-style: dotted none none;
border-color: #eaf6f6;
border-width: 6px;
width: 8%;
margin: 100px auto 100px auto;
}


/* about me  */


.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}

.intro{
width: 30%;
margin: auto;
}

.contact-message{
width: 40%;
margin: 40px auto 60px;
}

.intro h2 {
margin: 0 0 30px 0;
letter-spacing: .2rem
;
}

.about p {
  max-width: 65ch;
 
}

.emily-pozzi-pic {
  position: relative;
padding-top: 100px;
padding-bottom: 50px;
width: 200px;
}

.dev_tools{
  width: 25%;
  float: left;
  margin-right: 20px;

}

a {
color: #11999e;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}




footer {
    background-color: #65BFBF;
    height: 50px;
    width: auto;
}


  .footer-link{
    color: #11999E;
  }

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  
}
